/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
@font-face {
    font-family: 'DINProBold';
    src: url('../webfontkit/dinpro-bold-webfont.eot');
    src: url('../webfontkit/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfontkit/dinpro-bold-webfont.woff') format('woff'),
         url('../webfontkit/dinpro-bold-webfont.ttf') format('truetype'),
         url('../webfontkit/dinpro-bold-webfont.svg#DINProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINProMedium';
    src: url('../webfontkit/dinpro-medium-webfont.eot');
    src: url('../webfontkit/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfontkit/dinpro-medium-webfont.woff') format('woff'),
         url('../webfontkit/dinpro-medium-webfont.ttf') format('truetype'),
         url('../webfontkit/dinpro-medium-webfont.svg#DINProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINProRegular';
    src: url('../webfontkit/dinpro-regular-webfont.eot');
    src: url('../webfontkit/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfontkit/dinpro-regular-webfont.woff') format('woff'),
         url('../webfontkit/dinpro-regular-webfont.ttf') format('truetype'),
         url('../webfontkit/dinpro-regular-webfont.svg#DINProMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DINProLight';
    src: url('../webfontkit/dinpro-light-webfont.eot');
    src: url('../webfontkit/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfontkit/dinpro-light-webfont.woff') format('woff'),
         url('../webfontkit/dinpro-light-webfont.ttf') format('truetype'),
         url('../webfontkit/dinpro-light-webfont.svg#DINProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  visibility:hidden;
  background-color:#D5E2F3;
  color:#242967;
  font-family: "DINProRegular";
  font-size: 15px;
  height:1000px;
}
#bg_gradiente{
  width:770px;
  height:770px;
  top:-30px;
  left:95px;
  background-image:      -ms-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:     -moz-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:       -o-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 479, color-stop(0, #F0F3FA), color-stop(1, #D5E2F3));
  background-image:  -webkit-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:          radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-repeat:no-repeat;
  position:absolute;
}
#bg_container{
  height:98%;
  border:1px solid black;
}
.interna #bg_gradiente{
  top:-470px;
  left:-585px;
  width:1440px;
  height:1440px;
  background-image: none;
}
p a{
	font-family: 'DINProBold';
	text-decoration:none;
	color:#242967;
}
p a:hover{
	color:#242967;
	text-decoration:underline;
}
p a:visited{
	color:#242967;
}
body.home{
  overflow:hidden;
}
h3{
	font-family: "DINProBold";
  font-size: 21px;
	line-height: 26px;
	font-weight:normal;
}
#main{
  width:960px;
  margin:auto;
  position:relative;
  top:0;
}
#pre_sidebar{
  position:absolute;
  z-index:2;
  right:50%;
  width:2000px;
  margin-right:480px; /* 960/2 */
/*  background-color:rgba(255,0,0,0.5);*/
}
/*SVG da Home*/
#mySVG{
  position:absolute;
  width:960px;
  height:600px;
/*  background-image:url(../refs/bgreferencias.png);*/
  background-position:111px -78px;
  background-size:760px;
  background-repeat:no-repeat;
  font-family: 'DINProMedium';
  display:block;
}
#imagemap_bg{
  position:absolute;
  top:78px;
  left:387px;
}
body.interna #imagemap_bg{
  top:-4px;
  left:1px;
}
#mySVG text{
  fill:#fff;
  font-size:12.5px;
}
#mySVG .item,
#mySVG #mouse_overs path:hover{
  cursor:pointer;
}
#logo{
  opacity:0;
}
#texto_logo{
  font-family: DINProBold;
  font-size: 21px;
  left: 376px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 373px;
  width: 230px;
}
#texto_logo a{
  color:#242967;
  text-decoration:none;
  font-weight:normal;
}
#chamada{
  position:absolute;
  top:633px;
  background-color:#007883;
  margin-left:-3;
}
#chamada p{
  margin:0;
}
#chamada p a{
  color:#fff;
  font-size:14px;
  font-family:"DINProBold";
  text-decoration:none;
  line-height: 28px;
  margin-left: 11px;
}
#trilha_0 text{
  fill:#0067b4;
}
polyline,
line{
  opacity:0;
}

/* Mouse Over */
.info_box{
  position:absolute;
/*  background-color:rgba(255,0,0,0.5);*/
  line-height: 1.4em;
  display:none;
  width:200px;
}
#saraiva_info{
  top: 558px;
  left: 746px;
}
#avaliacao_info{
  top: 56px;
  left: 794px;
}
#licoes_info{
  top: 396px;
  left: 846px;
}
#midiateca_info{
  top: 84px;
  left: 795px;
}
#ebooks_info{
  top: 306px;
  left: 847px;
}
#aplicativos_info{
  top: 167px;
  left: 846px;
}

#assinatura{
  position:absolute;
  top:343px;
  left:110px;
  width:311px;
  height:254px;
  background-repeat:no-repeat;
  background-image:url(../img/assinatura_home.png);
}
#assinatura p{
  font-family: 'DINProBold';
  font-size:25px;
  position:absolute;
  bottom:0;
  left:-33px;
  top:188px;
  letter-spacing:0;
}
.interna #assinatura p{
  top:115px;
}

#main #sidebar{
  width:377px;
}
#sidebar #mySVG{
  width:337px;
}
#main #sidebar #menu{
  width:100%;
  height:350px;
}
body.interna #assinatura{
  background-image:url(../img/assinatura_internas.png);
  position:relative;
  top:53px;
  left:62px;
  height:155px;
}
body.interna #assinatura p{
  font-size:16px;
}
body.interna #texto_logo{
  font-size:15px;
  line-height:15px;
  left:34px;
  top:196px;
  width:160px;
}
#main #sidebar footer{
  position:relative;
  top:128px;
}

#sidebar ul{
  list-style:none;
  margin:0;
  padding:0;
}

#chamada,
#sidebar footer ul a{
  text-decoration:none;
  font-family:'DINProBold';
  color:#fff;
  font-size:14px;
  padding-left:40px;
  padding-right:14px;
  line-height:28px;
  height:28px;
  display:inline-block;
}
#pre_sidebar{
  padding-top:633px;
}
#pre_sidebar div{
  height:28px;
}
#stripe_adquira,
#sidebar footer ul a.acompanha_link{
  background-color:#99ca3c;
}
#stripe_contato,
#sidebar footer ul a.fale_conosco_link{
  background-color:#39a0d2;
}
#stripe_saraiva,
#sidebar footer ul a.saraiva_link{
  background-color:#eee;
  padding-left:72px;
  margin-top:28px;
  color:#0067b4;
}

#stripe_tutorial,
#sidebar footer ul a.tutorial_link{
  background-color:#007883;
}

#content{
  position:absolute;
  top:0;
  left:337px;
  width:583px;
  padding-top:43px;
}
#content h1,
#content h2{
  margin:0;
  text-transform:uppercase;
  font-weight:normal;
}
#content h2{
  font-size:29px;
  line-height:29px;
  letter-spacing: -1px;
}
#content h1{
  line-height:40px;
  font-family:"DINProBold";
  border-bottom:25px solid #242967;
  padding-bottom:10px;
}
#content h3{
  position:absolute;
}
#content img{
  position:absolute;
  z-index:-1;
}
body.slug_contato #content h3{
  position:relative;
} 
body.slug_acompanha #main{
  background-repeat:no-repeat;
}

body.slug_acompanha #content{
  padding-top:73px;
}
body.slug_acompanha #content h3{
	top:500px;
}
body.slug_acompanha #content img{
	left: 160px;
	top: 360px;
}

body.slug_aplicativos #content h1{
  border-color:#902a8e;
}
body.slug_aplicativos #content h3{
	top:445px;
}
body.slug_aplicativos #content img{
	left: 110px;
	top: 335px;
}

body.slug_midiateca #content  h1{
  border-color:#44a1d0;
}
body.slug_midiateca #content h3{
	top: 403px;
	left: 230px;
}
body.slug_midiateca #content img{
	left: -80px;
	top: 285px;
}

body.slug_ebooks #content  h1{
  border-color:#363390;
}
body.slug_ebooks #content h3{
	top: 432px;
	left: 320px;
}
body.slug_ebooks #content img{
	left: -90px;
	top: 306px;
}

body.slug_saraiva #content  h1{
  border-color:#f2812e;
}
body.slug_saraiva #content h3{
	top: 340px;
	left: 348px;
}
body.slug_saraiva #content img{
	left: -100px;
	top: 276px;
}

body.slug_licoes #content  h1{
  border-color:#007882;
}
body.slug_licoes #content h3{
	top: 527px;
}
body.slug_licoes #content img{
	left: 28px;
	top: 470px;
}

body.slug_avaliacao #content  h1{
  border-color:#9ac946;
}
body.slug_avaliacao #content h3{
	top: 435px;
	left: 250px;
}
body.slug_avaliacao #content img{
	left: -67px;
	top: 360px;
}