/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body{
  background-color:#D5E2F3;
  color:#242967;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 15px;
  height:1000px;
}
.gt-ie8 body{
    visibility:hidden;  
}
#bg_gradiente{
  width:770px;
  height:770px;
  top:-30px;
  left:95px;
  background-image:      -ms-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:     -moz-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:       -o-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 479, color-stop(0, #F0F3FA), color-stop(1, #D5E2F3));
  background-image:  -webkit-radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-image:          radial-gradient(center, circle contain, #F0F3FA 0%, #D5E2F3 100%);
  background-repeat:no-repeat;
  position:absolute;
}
#bg_container{
  height:98%;
  border:1px solid black;
}
.interna #bg_gradiente{
  display:none;
/*  top:-470px;
  left:-585px;
  width:1440px;
  height:1440px;
  background-image: none;
*/
}
p a{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;
	color:#242967;
}
p strong{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
/*	font-weight: normal;*/
	text-decoration:none;
	color:#242967;
}
p a:hover{
	color:#242967;
	text-decoration:underline;
}
p a:visited{
	color:#242967;
}
body.home{
/*  overflow:hidden;*/
}
h3{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 21px;
	line-height: 26px;
/*	font-weight:normal;*/
}
body.home #pre_sidebar,
body.home #main{
  top:-50px;
}
#main{
  width:960px;
  margin:auto;
  position:relative;
  top:0;
}
#pre_sidebar{
  position:absolute;
  z-index:2;
  right:50%;
  width:2000px;
  margin-right:480px; /* 960/2 */
/*  background-color:rgba(255,0,0,0.5);*/
}
/* Menu da Home */

#menu_principal{
  width:500px;
  height:500px;
  top:99px;
  left:236px;
  position:absolute;
  z-index:3;
  overflow:hidden;
}
.interna #menu_principal{
  -webkit-transform:  scale(0.7);
  -moz-transform:     scale(0.7);
  -o-transform:       scale(0.7);
  -ms-transform:      scale(0.7);
  transform:          scale(0.7);
  left: -140px;
  top: -75px;
}

#menu_principal div{
  position:absolute;
  width:500px;
  height:500px;
}
#menu_principal #logo_mascara{
  display:block;
}
#menu_principal #logo_mascara img{
  position:absolute;
  top:2px;
  left:0;
  z-index:10;
}
#menu_principal #item_avaliacao{
  background-image:url(../img/menu_1_avaliacao_QUADRADO.png);
}
#menu_principal #item_atividades_multimidia{
  background-image:url(../img/menu_2_atividades_multimidia_QUADRADO.png);
}
#menu_principal #item_midiateca{
  background-image:url(../img/menu_3_midiateca_QUADRADO.png);
}
#menu_principal #item_saraiva_educa{
  background-image:url(../img/menu_4_saraiva_educa_QUADRADO.png);
}
/*SVG da Home*/
#mySVG{
  position:absolute;
  width:960px;
  height:600px;
/*  background-image:url(../refs/bgreferencias.png);*/
  background-position:111px -78px;
  background-size:760px;
  background-repeat:no-repeat;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  display:block;
}
#imagemap_bg{
  position:absolute;
  top:78px;
  left:387px;
}
body.interna #imagemap_bg{
  top:-4px;
  left:1px;
}
/*html.lt-ie9 */
#linhas_over{
  position:absolute;
  z-index:4;
}
#linhas_over img{display:block;position:absolute;}
#linha_avaliacao              {top:87px;left:570px;}
#linha_avaliacao.off          {top:-1000px;}
#linha_midiateca              {top:140px;left:655px;}
#linha_atividades_multimidia  {top:410px;left:667px;}
#linha_saraiva_educa          {top:311px;left:718px;}
#mySVG text{
  fill:#fff;
  font-size:12.5px;
}
#mySVG .item,
#mySVG #mouse_overs path:hover{
  cursor:pointer;
}
#logo{
  opacity:0;
}
#texto_logo{
  height:200px;
  overflow:hidden;
  font-size: 21px;
  left: 376px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 243px;
  width: 230px;
	z-index:5;
}
#texto_logo p{
  margin-top:201px;
  margin-bottom:21px;
}
#texto_logo a{
  color:#242967;
  text-decoration:none;
  font-weight:normal;
  margin-top:180px;
  padding-top:370px;
}
#chamada{
  position:absolute;
  top:633px;
  margin-left:-3px;
}
#chamada p{
  margin:0;
}
#chamada p a{
  color:#fff;
  font-size:14px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-decoration:none;
  line-height: 28px;
  margin-left: 11px;
}
#trilha_0 text{
  fill:#0067b4;
}
polyline,
line{
  opacity:0;
}
#linhas_over img{
  display:none;
}

/* Mouse Over */
.info_box{
  position:absolute;
/*  background-color:rgba(255,0,0,0.5);*/
  line-height: 1.4em;
  display:none;
  width:190px;
}
.info_box p{
  margin-top:15px;
  margin-bottom:15px;
}
#saraiva_educa_info{
  top: 265px;
  left: 787px;
}
#avaliacao_info{
  top: 56px;
  left: 794px;
}
#atividades_multimidia_info{
  top: 396px;
  left: 795px;
}
#midiateca_info{
  top: 84px;
  left: 806px;
}

#assinatura{
  position:absolute;
  z-index:5;
  top:343px;
  left:110px;
  width:311px;
  height:254px;
  background-repeat:no-repeat;
  background-image:url(../img/assinatura_home.png);
}
.home #assinatura p a{
  top:0px;
  padding-top:213px;
}
#assinatura p a{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:24px;
  position:absolute;
  bottom:0;
  left:-33px;
  letter-spacing:0;
  margin-bottom:25px;
	font-weight:bold;
	text-decoration:none;
}

.interna #assinatura p a{
  top:0px;
  padding-top:131px;
  margin-bottom:16px;
  font-size:16px;
}

area,
#sidebar a{
  outline: 0;
}

#main #sidebar{
  width:377px;
}
#sidebar #mySVG{
  width:337px;
}
#main #sidebar #menu{
  width:100%;
  height:335px;
}
body.interna #assinatura{
  background-image:url(../img/assinatura_internas.png);
  position:relative;
  top:53px;
  left:62px;
  height:155px;
}
body.interna #texto_logo{
  font-size:15px;
  line-height:15px;
  left:34px;
  top:196px;
  width:160px;
}
#main #sidebar footer{
  position:absolute;
  top:633px;
}

#sidebar ul{
  list-style:none;
  margin:0;
  padding:0;
}

#chamada p,
#sidebar footer ul a{
  text-decoration:none;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color:#fff;
  font-size:14px;
  padding-left:40px;
  padding-right:14px;
  line-height:28px;
  height:28px;
  display:inline-block;
}
#chamada p{
  float:left;
  clear:left;
  background-color:#007883;
}
#chamada p.fale_conosco{
  background-color:#39A0D2;
}
#chamada p.ja_eh_usuario{
  margin-top:28px;
  background-color:#EEEEEE;
}
#chamada p.ja_eh_usuario a{
  color: #0067B4;
}
#pre_sidebar{
  padding-top:633px;
}
#pre_sidebar div{
  height:28px;
}
#stripe_adquira,
#sidebar footer ul a.acompanha_link{
  background-color:#99ca3c;
}
#stripe_contato,
#sidebar footer ul a.fale_conosco_link{
  background-color:#39a0d2;
}
#stripe_saraiva,
#sidebar footer ul a.saraiva_link{
  background-color:#eee;
  padding-left:72px;
  margin-top:28px;
  color:#0067b4;
}

#stripe_tutorial,
#sidebar footer ul a.tutorial_link{
  background-color:#007883;
}

#content{
  position:absolute;
  top:0;
  left:337px;
  width:583px;
  padding-top:43px;
}
#content h1,
#content h2{
  margin:0;
  text-transform:uppercase;
  font-weight:bold;
}
#content h2{
  font-size:29px;
  line-height:29px;
  letter-spacing: -1px;
}
#content h1{
  line-height:40px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  border-bottom:25px solid #242967;
  padding-bottom:10px;
}
#content h3{
  position:absolute;
}
#content img{
  position:absolute;
  z-index:-1;
}
body.slug_contato #content h3,
body.slug_adquira #content h3{
  position:relative;
} 
body.slug_acompanha #main{
  background-repeat:no-repeat;
}

body.slug_acompanha #content{
  padding-top:73px;
}

.bottom{
  position:absolute;
	width:583px;
	z-index:-1;
}
body.slug_acompanha .bottom{
	top: 360px;
	height:570px;
}
body.slug_acompanha #content h3{
	top: 150px;
	left: 0px;
	width: 300px;
}
body.slug_acompanha #content .img_destaque{
	left: 70px;
	top: 88px;
}
body.slug_aplicativos .bottom{
	top: 335px;
	height:700px;
}
body.slug_aplicativos #content h1{
  border-color:#902a8e;
}
body.slug_aplicativos #content h3{
	top:110px;
}
body.slug_aplicativos #content .img_destaque{
	left: 110px;
}

body.slug_midiateca .bottom{
	top: 215px;
	height:644px;
}
body.slug_midiateca #content  h1{
  border-color:#902a8e;
}
body.slug_midiateca #content h3{
	top: 118px;
	left: 230px;
}
body.slug_midiateca #content .img_destaque{
	left: -40px;
	top: 86px;
}

body.slug_ebooks #content  h1{
  border-color:#363390;
}
body.slug_ebooks #content h3{
	top: 432px;
	left: 320px;
}
body.slug_ebooks #content .img_destaque{
	left: -90px;
	top: 306px;
}

body.slug_saraiva #content  h1{
  border-color:#363390;
}
body.slug_saraiva #content h3{
	top: 340px;
	left: 0;
	width: 280px;
}
body.slug_saraiva #content .img_destaque{
	left: 90px;
	top: 360px;
}

body.slug_licoes #content  h1{
  border-color:#007882;
}
body.slug_licoes #content h3{
	top: 550px;
	width: 290px;
}
body.slug_licoes #content .img_destaque{
	left: 30px;
	top: 544px;
}

body.slug_avaliacao #content  h1{
  border-color:#9ac946;
}
body.slug_avaliacao #content h3{
	left: 0px;
	top: 400px;
}
body.slug_avaliacao #content .img_destaque{
	left: -21px;
	top: 505px;
}

body.slug_contato h3.email,
body.slug_adquira h3.email{
	margin-bottom:0px;
}
body.slug_contato p.email,
body.slug_adquira p.email{
	margin-top:0px;
}